<h2>{{oneSurvey.question}}</h2><button [routerLink]="['/surveys']">Back to the Polls</button>
<p>Click to Vote</p>

<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Option</th>
            <th scope="col">Current Count</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{oneSurvey.option_one}}</td>
            <td>{{oneSurvey.votes}}</td>
            <td><form (submit) = "bigVote()"><input type='submit' value='Vote'></form></td>
          </tr>
          <tr>
            <td>{{oneSurvey.option_two}}</td>
            <td>{{option_two_votes}}</td>
            <td><button (click)=votes2()>Vote</button></td>
        </tr>
        <tr>
            <td>{{oneSurvey.option_three}}</td>
            <td>{{option_three_votes}}</td>
            <td><button (click)=votes3()>Vote</button></td>
         </tr>
        <tr>
            <td>{{oneSurvey.option_four}}</td>
            <td>{{option_four_votes}}</td>
            <td><button (click)=votes4()>Vote</button></td>
            </tr>
        </tbody>
      </table>
